<div class="carousel">
    <span class='nav-btn' id="prev">
        <img [ngClass]="currentGroup.valueOf() == 0 ? 'disabled' : ''" src="../../../assets/previous.png" (click)="prev()">
    </span>
    <div id="filmstrip">
        <app-image *ngFor="let img of imageGroups[currentGroup.valueOf()]; let i = index" [selected]="selectedImage.id == img.id ? true : false" (select)="onClickFile(img)" [image]='img'></app-image>
    </div>
    <span class="nav-btn" id="next">
        <img [ngClass]="currentGroup.valueOf() == imageGroups.length - 1 ? 'disabled' : ''" src="../../../assets/next.png" (click)="next()">
    </span>
</div>
