.carousel {
    margin-top: 12px;
    height: 40vh;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.nav-btn{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    // position: relative;
    // margin: auto;
    // top: -75px;

    img {
        display: inline-block;
        vertical-align: middle;
    }

    .disabled {
        opacity: 30%;
    }

    #next {
        right: 100px;
    }
}

#filmstrip {
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    display: inline-flex;
    width: 95%;
    margin: auto;
}
  