.file {
    display: inline-block;
    width: 220px;
    height: 168px;
    font-size: 12px;
    text-align: center;

    img {
        height: 72%;
        display: block;
        margin: auto;
    }

    p {
        font-weight: bold;
        display: inline-block;
        margin: auto;
        margin-top: 4px;
        text-align: center;
        padding: 2px;
        border-radius: 4px;
    }
}

.selected {
    img {
        border: 4px solid navy;
        border-radius: 8px;
    }

    p {
        background-color: navy;
        color: white;
    }
}