<div [ngClass]="[selected ? 'file selected' : 'file']" id="{{'file-' + image.id}}" (click)="selectFile(image)">
    <img src="{{'assets/thumbnails/' + image.thumbnail}}" >
    <p>{{ image.id }}</p>
</div>