<div class="container">
  <!-- <app-selected [file]='{"title": "Business Site Template - 7111","cost": "45.00","id": "7111","description": "Lorem ipsum dolor sit amet, dictum et quisque aliquet malesuada at, rutrum ac nullam, elit massa facilisis","thumbnail": "7111-m.jpg","image": "7111-b.jpg"}'></app-selected> -->
  <app-selected [image]='selectedImage'></app-selected>
  <app-filmstrip (displayFile)="showFileInfo($event)"></app-filmstrip>
</div>