
#info {
    font-size: 2vh;
    height: 100%;

    #info-fields {
        width: 100%;
    }
}

.info-field {
    border-bottom: 1px solid blue;
}

.field-name {
    display: inline-block;
    margin-right: 12px;
    background: navy;
    color: white;
    font-weight: bold;
    padding: 4px;
    border-radius: 8px;
}

#large {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    margin: auto;
    height: 90%;
}