<mat-grid-list id="selected-img" cols="10" rowHeight="60vh" gutterSize="12px">
        <mat-grid-tile id="large-img-tile" colspan="6">
            <!-- <div id="frame">
                <img id="large" src="{{'assets/large/' + image.image}}">
            </div> -->
            <img id="large" src="{{'assets/large/' + image.image}}">
        </mat-grid-tile>
        <mat-grid-tile colspan="4" id="info">
            <div id="info-fields">
                <div class="info-field">
                    <p class="field-name">TITLE: </p>{{image.title}}
                </div>
                <div class="info-field">
                    <p class="field-name">DESCRIPTION: </p>{{image.description}}
                </div>
                <div class="info-field" id="cost">
                    <p class="field-name">COST: </p>{{image.cost}}
                </div>
                <div class="info-field" id="id">
                    <p class="field-name">ID: </p>{{image.id}}
                </div>
                <div class="info-field" id="thumbnail">
                    <p class="field-name">THUMBNAIL: </p>{{image.thumbnail}}
                </div>
                <div class="info-field" id="image">
                    <p class="field-name">IMAGE: </p>{{image.thumbnail}}
                </div>
            </div>
        </mat-grid-tile>
</mat-grid-list>
