<table id="selected">
    <tr>
        <td>
            <img id="large" src="../../../../../images/large/7111-b.jpg">
        </td>
        <td>
            <h2>Blah</h2>
        </td>

    </tr>
</table>
